*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 20px;
    width: 100vw;
    height: 50px;
    background-color: rgba(234, 161, 24, 0.886);
    position:relative;
    border-bottom:2px solid rgb(28, 16, 90);
}
.home{
    padding-right:30px;
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}
.about{
    padding-right:30px;
    text-decoration: none;
    font-size: 1.3rem;
    color:black;
}
.service{
    padding-right:30px;
    text-decoration: none;
    font-size: 1.3rem;
    color:black;

}
.home:hover{
    color:rgba(255, 255, 255, 0.779);
}
.about:hover{
    color:rgba(255, 255, 255, 0.779);
}
.service:hover{
    color:rgba(255, 255, 255, 0.779);
}
.select{
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    color: black;
}
.select:hover{
    cursor: pointer;
    color:rgba(255, 255, 255, 0.779);

}
.search{
    margin-left: 80px;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 6vh;
    background-color:rgba(250, 249, 249, 0.094);
    border: 2px solid rgba(93, 86, 86, 0.463);
    border-radius: 7px;
    text-align:left;
    font-size: 1rem;
    outline: none;
}
.cart{
    display: flex;
    justify-content: space-around;
    position: relative;
    color: black;
    font-size: 22px;
    gap:20px;
    margin-left: 530px;
}
.cart:hover{
    /* color:blue;
    font-size: 25px; */
    transform: scale(1.2);
    transition: linear 0.001s;
}
.main{
    display:flex;
    flex-wrap: wrap;
    position:relative;
    height: 70%;
    border:none;

}
.img{
width:100vw;
height:71vh;
/* padding-left:10px; */
}

#pointer{
    margin-left:640px;
    margin-top: 7px;
    color: rgba(234, 161, 24, 0.886);
}
#pointer::selection{
    color:black;
    /* background-color:black; */
}
.books{
    margin-top: 15px;
    display: flex;
    /* overflow: hidden; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    margin-left: 2px;
    height: 350px;
    width: 190px;
    position:relative;

}
.books .img2{
    /* width:20vw; */
    width:190px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.title a {
text-decoration: none;
font-size: 16px;
color: black;
font-weight: bold;
}
.title a:hover{
    color: rgba(50, 50, 190, 0.81);

}
.cost{
font-size: 20px;
margin-top: 2px;
font-weight:bolder;
justify-content: center;
margin-left: 3px;
color: rgba(234, 161, 24, 0.886);
}
.discount{
    color: red;
    font-size: 14px;
    margin-left: 5px;
}
.btn{
    margin-left: 5px;
    height: 25px;
    width: 60px;
    cursor: pointer;
    background-color: rgba(234, 161, 24, 0.886);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.837);
    font-weight: 550;
    font-size: 17px;
}
.btn:hover{
    color:white;
    background-color: green;

}
.rating{
    padding-left: 4px;
    font-size: 17px;
    color:rgb(255, 165, 0);

}
.first{
    margin-left: 15px;
}
.img2:hover{
    cursor: pointer;
    /* width: 200px; */
    transition: linear 0.0001s;
transform: scale(1.05);

}
.second{
    margin-left: 25px;
}
.third{
    margin-left: 25px;
}
.fourth{
    margin-left: 25px;
}
.fifth{
    margin-left: 25px;
}
.sixth{
    margin-left: 25px;
}
.seventh{
    margin-left: 25px;
}
.mid{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height:auto;
    /* background-color: aqua; */
    width:100%;
    margin-top: 15px;
    /* background-color: #000; */
}

.txt h1{
color: rgba(234, 161, 24, 0.886);
margin-left: 640px;
margin-top: 35px;
}

.txt h1::selection{
color: black;
}
/* .kid1{
 height: 70px;
 width:50px;
} */
.self-img{
    width:fit-content;
    width:190px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-left: 20px;
    margin-top: 15px;
}
.kids-txt a{
    text-decoration: none;
    margin-left: 17px;
    font-size: 14px;
    color: black;
    font-weight: bold;

}
.kids-txt .rating{
margin-left: 15px;
}
.kids-cost{
    font-size: 20px;
    font-weight:bolder;
    margin-top: 2px;
    margin-left: 20px;
    justify-content: center;
    color: rgba(234, 161, 24, 0.886);
}
.self-img:hover{
    transition: linear 0.0001s;
    transform: scale(1.05);
}
.kids-txt a:hover{
    color: rgba(51, 51, 196, 0.647);
}

.end{
    width: 100vw;
    position:relative;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 15vh;
    position:absolute;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.28);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(1px);
-webkit-backdrop-filter: blur(1px);
border: 1px solid rgba(255, 255, 255, 0.89);
}


.delivery i{
    transition: linear 1s;
    font-size: 4vw;
    /* background-color: aqua; */
color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 15px;
    /* border: 1px solid white; */
    /* border-width:20px ; */

}
.text{
    color: black;
    font-family: monospace;
    font-weight: 100;
    font-size: 1vw;
}
.delivery i:hover{
transform:translate(18px);
}

@media only screen and (max-width: 600px) {
   .nav{
display: none;
   }




  }